body {
    background: #fff !important;
}

#wrapper {
    margin: 0;
}

.ql-toolbar {
    background: lightcyan !important;
}

.ql-formats .ql-active {
    background: lightsteelblue !important;
    color: #fff !important;
    margin: 2px !important;
    border-radius: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    font-size: 18px !important;
    color: darkslategray !important;
    font-weight: 600 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-size: 20px !important;
    border-bottom: 4px solid slateblue !important;
    color: slateblue !important;
    font-weight: 700 !important;
}

#courseName,
#language,
#unit1Name,
#unit2Name {
    height: 40px;
    border-radius: 10px;
    padding: 15px;
    color: darkblue;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

#paths {
    display: flex;
    justify-content: space-between;
}

.toggle-handle {
    background: whitesmoke !important;
}

label {
    margin: 1px;
    color: darkslategrey;
    font-weight: 600;
    font-size: 18px;
}

#workset1,
#oral1,
#outcome1,
#seminar1,
#workset2,
#oral2,
#outcome2,
#seminar2 {
    background: lightcyan;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 700px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    margin-top: 3px;
    padding: 0;
}

#heading {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.right-side {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("./images/calendar.png");
    height: 15px;
    width: 18px;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    color: rgba(204, 204, 204, 0);
    opacity: 1;
}

#seminar1 .del,
#seminar2 .del {
    cursor: pointer;
    margin-right: 3px;
    font-weight: 600;
}

#seminar1 .add,
#seminar2 .add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
}

#seminar1 .add:hover,
#seminar2 .add:hover {
    border: 1px solid #4CAF50;
    background: white;
    color: #4CAF50;
    font-weight: 700;
}


/* .hidden::before {
    content: "+";
    margin-left: 5px;
} */

.sem_selector {
    cursor: pointer !important;
}

.sem_content {
    display: none;
}

.sign {
    content: '+';
}

.minus {
    content: "-";
}